@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@400;500;600;700&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Glory' , sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hiddenScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hiddenScrollBar::-webkit-scrollbar {
  display: none;
}

.buttonMain {
  @apply bg-[#F0A8D0] text-white p-2 rounded-md hover:bg-[#F7B5CA] transition-all duration-300
}

.text-caveat {
  font-family: 'Caveat', sans-serif;
}